.chip {
    text-align: center;
    font-weight: 700;
    font-size: 0.75rem;
    border-radius: 3px;
    padding: 4.5px;
    position: relative;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}